.App {
  text-align: center;
  /* height: 2000px; */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.View_of_Bar {
  width: 100vw;
  height: 810px;
  background-image: url(./images/View_of_Bar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  width: 100vw;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 251px;
  height: 57px;
}

.nav-img-year {
  padding-top: 9px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.established {
  color: #dabb6a;
  font-family: Helvetica;
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 722.5px;
}


.nav-links a {
  color: white;
  text-decoration: none;
  font-family: 'Josefin Slab', serif; 
  font-weight: bold;
}

.nav-menu-button {
  padding-right: 40px;
}

.nav-story-button {
  padding-right: 43.5px;
}

.nav-hours-button {
  padding-right: 45.5px;
}

.nav-contact-button {
  padding-right: 42.5px;
}

.book-table-button {
  width: 166px;
  color: white;
  background-color: transparent;
  border: 2px solid #e48400;
  border-radius: 3px;
  height: 53px;
  font-size: 21px;
  font-family: 'Josefin Slab';
  font-weight: bold;
  padding-left: 21.5px;
  padding-right: 20.5px;
}

.chef-block {
  width: 1200px;
  height: 900px;
  background-color: green;
  
}