html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.View_of_Bar {
  width: 100vw;
  height: 810px;
  background-image: url(./images/View_of_Bar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  width: 100vw;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 251px;
  height: 57px;
}

.nav-img-year {
  padding-top: 9px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.established {
  color: #dabb6a;
  font-family: Helvetica;
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 722.5px;
}


.nav-links a {
  color: white;
  text-decoration: none;
  font-family: 'Josefin Slab', serif; 
  font-weight: bold;
}

.nav-menu-button {
  padding-right: 40px;
}

.nav-story-button {
  padding-right: 43.5px;
}

.nav-hours-button {
  padding-right: 45.5px;
}

.nav-contact-button {
  padding-right: 42.5px;
}

.book-table-button {
  width: 166px;
  color: white;
  background-color: transparent;
  border: 2px solid #8d6835;
  border-radius: 3px;
  height: 53px;
  font-size: 21px;
  font-family: 'Josefin Slab';
  font-weight: bold;
  padding-left: 21.5px;
  padding-right: 20.5px;
}


.hourLocation-container{
  width: 1200px;
  height:900px;
  align-items: center;
  justify-content: center;
}
.contact-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:1200px;
  height:900px;
}


.Rectangle-Copy {
  width: 482px;
  height: 900px;
  background-image: linear-gradient(to bottom,#388051,#1a4928);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chef-block {
  width: 1200px;
  height: 900px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  
}

.chef-description {
  width: 482px;
  height: 900px;
  background-image: linear-gradient(to bottom, #388051, #1a4928);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapInfo-container{
  height:275px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Dinner-Monday-Satu {
  width: 174px;
  height: 144px;
  font-family: "Josefin Slab";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

 .text-style-1 {
  font-weight: bold;
}


.Booth {
  width: 718px;
  height: 900px;
}

.Text-Box {
  width: 350px;
  height: 625px;
  background-color: #fbf8f0;
  /* margin: 138px 66px 137px 66px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .chef-image {
  width: 718px;
  height: 900px;
}

.chef-large-image {
  display: block;
}

.chef-mobile-image {
  display: none;
}

.chef-information{
  width: 350px;
  height: 555px;
  background-color: #fbf8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef-title {
  width: 185px;
  height: 62px;
  font-family: 'Josefin Slab';
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-top: 37px;
  
}

.chef-content {
  width: 313px;
  height: 404px;
  font-family: 'Josefin Slab';
  font-size: 20px;
  line-height: 1.2
}

.chef-executive {
  margin: 0px;
  padding: 0px;
}
.chef-name {
  margin: 0px;
  padding: 0px;
}

 .our-story-block {
  width: 1200px;
  height: 900px;
  display: flex;
  flex-direction: row;
  
} 

.our-story-description {
  width: 481px;
  height: 900px;
  background-image: linear-gradient(to bottom, #388051, #1a4928);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoursContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Hours-Location {
  width: 192px;
  height: 31px;
  font-family: "Josefin Slab";
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);

}

.hours{
  margin:0;
}
  
.our-story-image {
  width: 718px;
  height: 900px;
}

.our-story-information{
  width: 355px;
  height: 763.8px;
  border: solid 1px #979797;
  text-align: left;
  background-color: #fbf8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.our-story-title {
  width: 199px;
  height: 31px;
  font-family: 'Josefin Slab';
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-top: 28px;
  
}

.our-story-content {
  width: 313px;
  height: 404px;
  font-family: 'Josefin Slab';
  font-size: 20px;
  line-height: 1.2
}

.hem-quote { 
    width: 988px;
    padding-top: 80px;
    padding-bottom:68px;
}

.hem-quote-content {
 
    height: 86px;
    font-family: 'Josefin Slab';
    font-size: 36px;
    letter-spacing: -0.9px;
    text-align: center;
}

.hem-author {
  height: 52px;
  font-family: 'Sacramento';
  font-size: 36px;
  letter-spacing: normal;
  text-align: right;
}






.contactpage-block {
  width: 1200px;
  height: 900px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;  
}

.contactpage-image {
  width: 718px;
  height: 900px;
}

.contact-holder {
  margin-left: -1px;
  width: 482px;
  height: 900px;
  background-image: linear-gradient(to bottom, #388051, #1a4928);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box{
  width: 355px;
  height: 534px;
  order: solid 1px #979797;
  background-color: #fbf8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  margin-top: 26px;
  margin-bottom: 0px;
  width: 185px;
  height: 62px;
  font-family: 'Josefin Slab';
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  /* padding-top: 37px;  */
}

.contact-content {
  margin-top: 0px;
  text-align: left;
  width: 286px;
  height: 154px;
  font-family: 'Josefin Slab';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  color: var(--black);

}

.media-contact {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Josefin Slab';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  color: var(--black);

}


.allelse-contact {
  margin-top: 20px;
  text-align: left;

  font-family: 'Josefin Slab';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  color: var(--black);

}


.Phone{
  font-weight: bold;
  width: 313px;
  height: 404px;
  font-family: 'Josefin Slab';
  font-size: 20px;
  line-height: 1.2;
}


.input1 {
  padding-left: 12px;
  padding-bottom: -10px;
  /* padding-left: 9px 0px 9px 12px; */
  padding-top: 9px;
  /* padding-bottom: 9px; */
  width: 286px;
  height: 34px;
  border-radius: 2px;
  border: solid 1px #e48400;
  font-size: 12px;
  margin: 8px 0;
}

.input2 {
  padding-left: 12px;
  padding-top: 9px;
  width: 286px;
  height: 86px;
  border-radius: 2px;
  border: solid 1px #e48400;
  font-size: 12px;

}

.contact-button {
  width: 90px;
  height: 32px;
  border-radius: 3px;
  background-color: #e48400;
  padding-bottom: 34px;
  font-size: 15px;
  color: #fbf8f0;
  margin-top: 21px;
  line-height: -75px;
  padding-bottom: 5px;
}

.hamburgermenu {
  display: none;
}

.hamburger-menu-off {
  display:none;
}

.hamburger-menu-on {
  display: none;
}

.active{
  display: block;
}

.empty {
  display: none;
}

.exit {
  align-self: flex-end;
}

.exit img {
  height: 50px;
  width: 50px;
}

.hamburger-menu-links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Josefin Slab';
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.hamburger-menu-links a{
  color: white;
  text-decoration: none;
  /* padding-top: 60px; */
  height: 360px;
}

.hamburger-menu-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 100vw;
  height: 100vh;
}

.hamburger-footer p {
  font-family: 'Josefin Slab';
  font-size: 22px;
  /* padding-top: 120px; */
  margin: 0;
}



@media screen and (max-width: 375px) {

  .App {
    width: 100%;
  }

  .hamburger-menu-off{
    display: none;
  }

  .hamburger-menu-on {
    height: 100vh;
    display: block;
    /* background-color: black; */
    color: white;
    opacity: 0.94;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #393434;
  }
 */

  .active {
    display: block;
  }

  .empty {
    display: none;
  }

.View_of_Bar {
  width: 100%;
  height: 307px;
  background-image: url(./images/Mobile_View_of_Bar.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
    width: 374px;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  width: 137.4px;
  height: 31px;
}

.nav-img-year {
  padding-top: 9px;
  padding-left: 0px;
}

.established {
  display: none;
}

.nav-links {
  display: none;
}

.chef-block {
  width: 100%;
  flex-direction: column;
}

.chef-large-image {
  display: none;
}

.chef-mobile-image {
  display: block;
}

.chef-description {
  width: 100%;
  height: 631px;
}

.chef-image {
  width: 100%
}

.hamburgermenu{
  display: block;
  padding-right: 20px;

}

.hamburgermenu img {
  height: 20px;
  width: 20px;
}









}


