.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.View_of_Bar {
  width: 100vw;
  height: 810px;
  background-image: url(./images/View_of_Bar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  width: 100vw;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 251px;
  height: 57px;
}

.nav-img-year {
  padding-top: 9px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.established {
  color: #dabb6a;
  font-family: Helvetica;
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 722.5px;
}


.nav-links a {
  color: white;
  text-decoration: none;
  font-family: 'Josefin Slab', serif; 
  font-weight: bold;
}

.nav-menu-button {
  padding-right: 40px;
}

.nav-story-button {
  padding-right: 43.5px;
}

.nav-hours-button {
  padding-right: 45.5px;
}

.nav-contact-button {
  padding-right: 42.5px;
}

.book-table-button {
  width: 166px;
  color: white;
  background-color: transparent;
  border: 2px solid #e48400;
  border-radius: 3px;
  height: 53px;
  font-size: 21px;
  font-family: 'Josefin Slab';
  font-weight: bold;
  padding-left: 21.5px;
  padding-right: 20.5px;
}

.chef-block {
  width: 1200px;
  height: 900px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  
}

.chef-description {
  width: 482px;
  height: 900px;
  background-image: linear-gradient(to bottom, #388051, #1a4928);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chef-image {
  width: 718px;
  height: 900px;
}

.chef-information{
  width: 350px;
  height: 555px;
  background-color: #fbf8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef-title {
  width: 185px;
  height: 62px;
  font-family: 'Josefin Slab';
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-top: 37px;
  
}

.chef-content {
  width: 313px;
  height: 404px;
  font-family: 'Josefin Slab';
  font-size: 20px;
  line-height: 1.2
}

.chef-executive {
  margin: 0px;
  padding: 0px;
}
.chef-name {
  margin: 0px;
  padding: 0px;
}




/* jim */

 .our-story-block {
  width: 1200px;
  height: 900px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  
} 

.our-story-description {
  width: 481px;
  height: 900px;
  background-image: linear-gradient(to bottom, #388051, #1a4928);
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-story-image {
  width: 718px;
  height: 900px;
}

.our-story-information{
  width: 355px;
  height: 763.8px;
  border: solid 1px #979797;
  text-align: left;
  background-color: #fbf8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.our-story-title {
  width: 199px;
  height: 31px;
  font-family: 'Josefin Slab';
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-top: 28px;
  
}

.our-story-content {
  width: 313px;
  height: 404px;
  font-family: 'Josefin Slab';
  font-size: 20px;
  line-height: 1.2
}


 
