
.contact-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.Rectangle-Copy {
    width: 482px;
    height: 900px;
    background-image: linear-gradient(to bottom, var(--ocean-green), var(--pine));
  }


.Booth {
    width: 718px;
    height: 900px;
  }

  .Text-Box {
    width: 350px;
    height: 625px;
    background-color: var(--off-white);
  }